*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-repeat: no-repeat;
    background-attachment: scroll
}


----- 
/* First section start */
------
.banner-img{
    position: absolute;
    width: 1600px;
    height: 808px;
}

.first-text{
    position: absolute;
    width: 525px ;
    height: 228px;
    left: 845px;
    top: 216px;
    text-align: right;
   
}

h1  {
    color: #FFFFFF;
    font-weight: 700;
     font-size: 65px;
}

p{
    color:#FFFFFF ;
    font-weight: 400;
    font-size: 16px;
}


.link-button{
    text-decoration: none;
    width: 160px;
    height: 64px;
    left: 1210px;
    top: 578px;
    background-color:#FFFFFF ;
    color: #005FAC;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
    margin-top: 50px;
  }

  /* First section end*/


   /* second section start */

   .flexible-container{
    display: flex;
    margin-bottom: 120px;
    margin-top: 80px;
    margin-left: 70px;
    margin-right: 70px;
  }

  .second-part{
    width: 1072px;
   height: 723.3px;
   left: 206px;
   top: 939px;
  }
  
.half-width{width: 50%;
    padding-left: 5%;
  }
   .half-width img{
   width: 500px;
   height: 500px;
   left: 500px;
   right: 500px;
   top: 2500px;
    border-radius: 20px;
  } 
.p-black{
    margin-top: 30px;
}

#color-black{
    color: black;
}

h2{
    font-weight: 700;
    font-size: 40px;
}

   /* second section end */


/* Third section start */

.my-mission{
  text-align: center;
  color: rgb(168, 13, 13);
}
.mission-color{
  color: black;
}

.experience-item{
   
    margin-left: 5%;
    margin-right: 5%;
  width: 1141px;
  height: 306px;
  left: 230px;
  top: 1792.3px;
    
  }

  .img-pic{
    width: 40%; 
    padding-left: 10%;
  }

  #p-color{
    color: #737272;
    margin: 5px;
  }

  /* Third section  end */

  /* Fourth section- start */

  #web-dev{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
    background-color: wheat;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px rgb(83, 197, 83);
  }
  #stack-dev{
    border-left: 7px solid;
    border-image: linear-gradient(red,rgb(235, 232, 231)) ;
    border-image-slice: 1;
    background-color: white;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px rgb(83, 197, 83);
  }
  #Goals-dev{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(22, 22, 24),cyan);
    border-image-slice:1 ;
    background-color: cyan;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px rgb(83, 197, 83);
  }
 /* Fourth section- end */

 /* Fifth section start  */

.linear-gradient{
    background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%);
    border-radius: 8px;
    padding: 10px;
    margin: 10%;
    height: 250px;
}
.watch-img{
    
    width: 1140px;
    height: 300px;
    left: 230px;
    top: 3221.96px;
    
    margin-top: 50px;
    margin-left: 50px;
    
}
#h2-white{
    color: #FFFFFF;
}

/* Fifth section end  */

/* footer section start */

.flexible-footer{
    display: flex;
    margin-bottom: 120px;
    margin-top: 80px;
    margin-left: 70px;
    margin-right: 70px;

}

.foofer-half-width{
    padding-left: 20%;
    margin-top: 5%;
}

 .footer{
    width: 1600px;
    height: 477px;
   left: 0px;
   top: 2646.3px;
   background-color: #151414;
 }

  #future{
    width: 148px;
    height: 53px;
    left: 230px;
    top: 2776.3px;
    font-weight: 700;
    font-size: 45px;
    color:#F8F8F8;
    line-height: 53px
  }
  #Subscribe{
    color:#FFFFFF;
    
  }
  #email{
    background-color: black;
    width: 200px;
    height: 50px;
    border-radius: 5px;
  }

  .link-button2{
    text-decoration: none;
    width: 160px;
    height: 64px;
    left: 1210px;
    top: 578px;
    background-color:#005FAC;
    color: #FFFFFF;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
   margin-top: 50px; 
  }

  /* footer section end */